:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0rem 2rem 5rem rgba(0, 0, 0, 0.08);
  --border-light: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-grey-dark-2); }

.logo {
  margin-left: 2rem;
  height: 3.5rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__input {
    background-color: var(--color-grey-light-2);
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 1rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.4s;
    margin-right: -3.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::placeholder {
      font-weight: 100;
      color: var(--color-grey-dark-3); }
  .search__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.1s; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-2); }

.user-nav {
  align-self: stretch;
  display: flex; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center; }
    .user-nav > *:hover {
      background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification-badge {
    position: absolute;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 0.8rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .user-nav__user-photo {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem; }

.sidebar {
  color: var(--color-grey-light-2);
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar__list {
    list-style: none;
    margin-top: 3rem; }
  .sidebar__item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 2.5rem;
    cursor: pointer;
    position: relative; }
    .sidebar__item::before {
      content: "";
      height: 100%;
      width: 5px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
    .sidebar__item:not(:last-child) {
      margin-bottom: 1rem; }
    .sidebar__item:hover::before, .sidebar__item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .sidebar__item:active::before {
      background-color: var(--color-primary-light); }
  .sidebar__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-light-2);
    z-index: 1; }
  .sidebar__link:link, .sidebar__link:visited {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 1; }
  .sidebar .legal {
    color: var(--color-grey-dark-3);
    text-align: center;
    padding: 2.5rem; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: var(--border-light); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 2.5rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__star-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary); }
  .overview__location {
    display: flex;
    align-items: center;
    font-size: 1.2rem; }
    .overview__location-icon {
      width: 2rem;
      height: 2rem;
      fill: var(--color-primary); }
  .overview__rating {
    align-self: stretch;
    background-color: var(--color-primary-light);
    color: var(--color-grey-light-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    align-items: center;
    margin-left: 2.5rem; }
    .overview__rating-number {
      font-size: 2.25rem;
      font-weight: 300; }
    .overview__rating-votes {
      margin-top: -0.5rem; }

.link-btn {
  border: none;
  background-color: unset;
  font-family: inherit;
  font-size: inherit;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  transition: color 0.2s;
  cursor: pointer; }
  .link-btn span {
    transition: margin-left 0.2s; }
  .link-btn:hover {
    color: var(--color-grey-dark-1); }
    .link-btn:hover span {
      margin-left: 1rem; }
  .link-btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  border-top: var(--border-light);
  border-bottom: var(--border-light);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  margin: 2rem 0; }
  .list__item {
    flex: 0 0 50%;
    padding: 0.5rem 0; }
    .list__item::before {
      content: "";
      width: 1rem;
      height: 1rem;
      display: inline-block;
      margin-right: 0.75rem;
      background-color: var(--color-primary);
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-size: cover; }

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center; }
  .recommend__count {
    margin-right: auto; }
  .recommend__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
    box-sizing: content-box;
    /*
            This is only for this specific situation. Generally if we give border-box, the margin, padding 
            and border falls inside the specified width. ie, If we give 100px width, margin 10px,  padding 10px,
            border 10px means the content width which is 100 - (10 + 10 + 10) = 70px. 
            But if we give content box, the margin, padding and border falls outside the specified width.
            If the width is 100px and we give the same amount of margin, padding and border. The content width
            is still 100px. The extra width just adds. ie, 100 + (10 + 10 + 10) = 130px
        */ }
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }

.review {
  box-shadow: var(--shadow-light);
  background-color: #fff;
  padding: 3rem;
  position: relative; }
  .review:not(:last-child) {
    margin-bottom: 4rem; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -3.25rem;
    left: -1rem;
    font-size: 20rem;
    line-height: 1;
    font-family: sans-serif;
    color: var(--color-grey-light-2); }
  .review__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 1; }
  .review__user {
    display: flex;
    align-items: center; }
    .review__user-img {
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%; }
    .review__user-details {
      margin-right: auto;
      margin-left: 1rem; }
    .review__user-name {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.2rem; }
    .review__user-date {
      font-size: 1rem;
      color: var(--color-grey-dark-3); }
    .review__user-rating {
      color: var(--color-primary);
      font-size: 2.25rem;
      font-weight: 300; }

@keyframes pulsate {
  0% { }
  50% {
    scale: 1.05;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  100% { } }

.container {
  max-width: 120rem;
  background-color: var(--color-grey-light-1);
  margin: 8rem auto;
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: var(--border-light);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; }

.hotel-view {
  background-color: #fff;
  flex: 1 1 0;
  min-height: 80rem; }

.detail {
  display: flex;
  padding: 4rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--border-light); }

.description {
  font-size: 1.4rem;
  background-color: #fff;
  flex: 0 0 60%;
  margin-right: 4rem;
  padding: 4rem;
  box-shadow: var(--shadow-light); }

.reviews {
  flex: 1;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
